{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block titulo %} Consultas Devolucion! {% endblock %}

{% block contenido %} 
<br/>
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar devolucion!</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Consultas de devolucion!</h4>
        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Agente</th>
                    <th>Movimiento</th>
                    <th>Codigo</th>
                    <th>Edicion</th>
                    <th>Fecha</th>
                    <th>Titulo</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Importe</th>
                    <th>PVP</th>
                    <th>Proveedor</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.id }}</td>
                    <td>{{ registro.agente }}</td>
                    <td>{{ registro.movimiento }}</td>
                    <td>{{ registro.codigo }}</td>
                    <td>{{ registro.edicion }}</td>
                    <td>{{ registro.fecha }}</td>
                    <td>{{ registro.titulo }}</td>
                    <td>{{ registro.cantidad }}</td>
                    <td>{{ registro.precio }}</td>
                    <td>{{ registro.importe }}</td>
                    <td>{{ registro.pvp }}</td>
                    <td>{{ registro.proveedor }}</td>
                    <td><a name="btn-editar" id="btn-editar" class="btn btn-warning" href="{% url 'editar' registro.id %}" role="button"><i class="fas fa-edit"></i></a>
                        <a onClick="return confirm('¿Desea borrar el registro - {{ registro.titulo }} - {{ registro.edicion }} ?')" href="{% url 'eliminar' registro.id %}" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <div class="card-footer text-muted">
        <br/>
    </div>
</div>

{% block js %}
<script type="application/javascript">
    $(document).ready(function() {
        $('#tabla').DataTable({
            responsive: true,
            autowidth: true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
            }
        });
    });
    
  
</script>
{% endblock %}

{% endblock %}
          